In [5]:
import pandas as pd
import glob

In [9]:
import pandas as pd

csv_files = []
for f in os.listdir(folder_path):
    file_path = os.path.join(folder_path, f)
    # Check if it is a file and ends with .csv
    if os.path.isfile(file_path) and f.endswith('.csv'):
        csv_files.append(file_path)

# Read them safely
dfs = []
for file in csv_files:
    try:
        df = pd.read_csv(file)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file}: {e}")

# Merge DataFrames
if dfs:
    merged_df = pd.concat(dfs, ignore_index=True)
    print(merged_df.head())
    merged_df.to_csv(os.path.join(folder_path, "merged_accidental_deaths.csv"), index=False)
else:
    print("No CSV files could be read.")

C:\Users\LENOVE\AppData\Local\Temp\ipykernel_2412\3620647173.py:14: DtypeWarning: Columns (0,2,4,7,9,11,12,13,14,15,19,20,21,22,23,25,26,27,28,29,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

     Month  Accidental deaths in USA: monthly, 1973 ? 1978 Time  Ads Date  \
0  1973-01                                          9007.0  NaN  NaN  NaN
1  1973-02                                          8106.0  NaN  NaN  NaN
2  1973-03                                          8928.0  NaN  NaN  NaN
3  1973-04                                          9137.0  NaN  NaN  NaN
4  1973-05                                         10017.0  NaN  NaN  NaN

   ads  age workclass  fnlwgt education  ...  citric acid residual sugar  \
0  NaN  NaN       NaN     NaN       NaN  ...          NaN            NaN
1  NaN  NaN       NaN     NaN       NaN  ...          NaN            NaN
2  NaN  NaN       NaN     NaN       NaN  ...          NaN            NaN
3  NaN  NaN       NaN     NaN       NaN  ...          NaN            NaN
4  NaN  NaN       NaN     NaN       NaN  ...          NaN            NaN

  chlorides free sulfur dioxide total sulfur dioxide density  pH  sulphates  \
0       NaN                 NaN                  NaN     NaN NaN        NaN
1       NaN                 NaN                  NaN     NaN NaN        NaN
2       NaN                 NaN                  NaN     NaN NaN        NaN
3       NaN                 NaN                  NaN     NaN NaN        NaN
4       NaN                 NaN                  NaN     NaN NaN        NaN

   alcohol quality
0      NaN     NaN
1      NaN     NaN
2      NaN     NaN
3      NaN     NaN
4      NaN     NaN

[5 rows x 178 columns]

In [12]:
print("Shape of merged DataFrame:", merged_df.shape)

Shape of merged DataFrame: (987447, 178)

In [14]:
print("null values in  DataFrame:", merged_df.isnull().sum())

null values in  DataFrame: Month                                             787303
Accidental deaths in USA: monthly, 1973 ? 1978    987303
Time                                              986715
Ads                                               987015
Date                                              983277
                                                   ...
density                                           982549
pH                                                982549
sulphates                                         982549
alcohol                                           982549
quality                                           982549
Length: 178, dtype: int64

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987447 entries, 0 to 987446
Columns: 178 entries, Month to quality
dtypes: float64(121), object(57)
memory usage: 1.3+ GB

In [17]:
merged_df.dtypes

Month                                              object
Accidental deaths in USA: monthly, 1973 ? 1978    float64
Time                                               object
Ads                                               float64
Date                                               object
                                                   ...
density                                           float64
pH                                                float64
sulphates                                         float64
alcohol                                           float64
quality                                           float64
Length: 178, dtype: object

In [18]:
import pandas as pd

# Assuming your column is named 'Date'
merged_df['Date'] = pd.to_datetime(merged_df['Date'], errors='coerce')

# Check the result
print(merged_df['Date'].head())
print(merged_df['Date'].dtype)

C:\Users\LENOVE\AppData\Local\Temp\ipykernel_2412\3571181580.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['Date'] = pd.to_datetime(merged_df['Date'], errors='coerce')

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Date, dtype: datetime64[ns]
datetime64[ns]

In [19]:
# Create a proper Month column from Date
merged_df['Month'] = merged_df['Date'].dt.month
# Optional: get month name
merged_df['Month_name'] = merged_df['Date'].dt.strftime('%B')

print(merged_df[['Date', 'Month', 'Month_name']].head())

  Date  Month Month_name
0  NaT    NaN        NaN
1  NaT    NaN        NaN
2  NaT    NaN        NaN
3  NaT    NaN        NaN
4  NaT    NaN        NaN

C:\Users\LENOVE\AppData\Local\Temp\ipykernel_2412\71254335.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Month_name'] = merged_df['Date'].dt.strftime('%B')

In [20]:
# Convert Time column (if it is like 'HH:MM:SS')
merged_df['Time'] = pd.to_datetime(merged_df['Time'], format='%H:%M:%S', errors='coerce').dt.time

print(merged_df['Time'].head())

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Time, dtype: datetime64[ns]

In [21]:
merged_df.dtypes

Month                                                    float64
Accidental deaths in USA: monthly, 1973 ? 1978           float64
Time                                              datetime64[ns]
Ads                                                      float64
Date                                              datetime64[ns]
                                                       ...
pH                                                       float64
sulphates                                                float64
alcohol                                                  float64
quality                                                  float64
Month_name                                                object
Length: 179, dtype: object

In [22]:
from sklearn.impute import SimpleImputer
import pandas as pd

In [23]:
# Numeric columns
num_cols = merged_df.select_dtypes(include=['int64','float64']).columns

# Categorical columns (object type)
cat_cols = merged_df.select_dtypes(include=['object']).columns

In [24]:
num_imputer = SimpleImputer(strategy='mean')
merged_df[num_cols] = num_imputer.fit_transform(merged_df[num_cols])

In [25]:
cat_imputer = SimpleImputer(strategy='most_frequent')
merged_df[cat_cols] = cat_imputer.fit_transform(merged_df[cat_cols])

In [26]:
print(merged_df.isnull().sum())

Month                                                  0
Accidental deaths in USA: monthly, 1973 ? 1978         0
Time                                              987447
Ads                                                    0
Date                                              983277
                                                   ...
pH                                                     0
sulphates                                              0
alcohol                                                0
quality                                                0
Month_name                                             0
Length: 179, dtype: int64

In [27]:
# Fill with the most frequent date
most_freq_date = merged_df['Date'].mode()[0]
merged_df['Date'] = merged_df['Date'].fillna(most_freq_date)

# Or fill with a specific date
# merged_df['Date'] = merged_df['Date'].fillna(pd.Timestamp('2000-01-01'))

In [30]:
import pandas as pd

# Convert Time to proper datetime, coerce invalid entries to NaT
merged_df['Time'] = pd.to_datetime(merged_df['Time'], errors='coerce').dt.time

# Check the first few values
print(merged_df['Time'].head())

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Time, dtype: datetime64[ns]

In [31]:
# Fill missing values with the most frequent valid time
if merged_df['Time'].notnull().sum() > 0:   # make sure there are some valid times
    most_freq_time = merged_df['Time'].mode()[0]
    merged_df['Time'] = merged_df['Time'].fillna(most_freq_time)
else:
    # If all times are null, fill with default
    merged_df['Time'] = pd.to_datetime('00:00:00').time()

In [32]:
print(merged_df['Time'].isnull().sum())

0

In [33]:
merged_df.isnull().sum()

Month                                             0
Accidental deaths in USA: monthly, 1973 ? 1978    0
Time                                              0
Ads                                               0
Date                                              0
                                                 ..
pH                                                0
sulphates                                         0
alcohol                                           0
quality                                           0
Month_name                                        0
Length: 179, dtype: int64

In [ ]:
import os
import pandas as pd

# Your folder path
folder_path = r"C:\Users\LENOVE\Desktop\Machine Learning\Datasets\accidental-deaths-in-usa-monthly"

# Make sure the folder exists (creates it if it doesn't)
os.makedirs(folder_path, exist_ok=True)

# File path for the cleaned merged CSV
save_path = os.path.join(folder_path, "cleaned_merged_file.csv")

# Save merged_df as cleaned CSV
merged_df.to_csv(save_path, index=False)

print("Cleaned merged file saved successfully at:", save_path)

In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv(r"C:/Users/LENOVE/Desktop/Machine Learning/Datasets/accidental-deaths-in-usa-monthly/cleaned_merged_file.csv")

C:\Users\LENOVE\AppData\Local\Temp\ipykernel_14296\3574122428.py:1: DtypeWarning: Columns (12,21) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r"C:/Users/LENOVE/Desktop/Machine Learning/Datasets/accidental-deaths-in-usa-monthly/cleaned_merged_file.csv")

In [5]:
dataset.head()

,Month,"Accidental deaths in USA: monthly, 1973 ? 1978",Time,Ads,Date,ads,age,workclass,fnlwgt,education,...,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Month_name
0,8.98705,9007.0,00:00:00,121974.050926,2017-08-03 00:00:00,66313.917506,6775.10732,Private,189709.827083,HS-grad,...,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,September
1,8.98705,8106.0,00:00:00,121974.050926,2017-08-03 00:00:00,66313.917506,6775.10732,Private,189709.827083,HS-grad,...,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,September
2,8.98705,8928.0,00:00:00,121974.050926,2017-08-03 00:00:00,66313.917506,6775.10732,Private,189709.827083,HS-grad,...,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,September
3,8.98705,9137.0,00:00:00,121974.050926,2017-08-03 00:00:00,66313.917506,6775.10732,Private,189709.827083,HS-grad,...,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,September
4,8.98705,10017.0,00:00:00,121974.050926,2017-08-03 00:00:00,66313.917506,6775.10732,Private,189709.827083,HS-grad,...,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,September

In [7]:
dataset.shape

(723726, 179)

In [ ]:
dataset.drop_duplicates().sum()

In [10]:
dataset.shape

(723726, 179)