In [1]:
import pandas as pd

In [2]:
data = {"name":["a","b","c","d","a","c"],"English":[8,7,9,5,8,9],"Urdu":[9,6,7,2,9,7]}

In [3]:
df = pd.DataFrame(data)

In [26]:
df

  name  English  Urdu
0    a        8     9
1    b        7     6
2    c        9     7
3    d        5     2
4    a        8     9
5    c        9     7

In [18]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [36]:
df.drop_duplicates()

  name  English  Urdu
0    a        8     9
1    b        7     6
2    c        9     7
3    d        5     2

In [32]:
df.drop_duplicates(inplace = True)

In [30]:
df.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [5]:
# df["duplicated"]=df.duplicated()

In [6]:
# df

In [7]:
# df.drop_duplicates(keep="first")